
body{
    background-image:linear-gradient(rgba(34, 33, 33, 0.7),rgba(58, 56, 56, 0.7)) , url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    color:#fff;
   font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem 2rem;
}
h1{
    font-family: "PT Serif", serif;
    font-weight: 400;
    padding:1rem;
    font-size: 3rem;
}
h2,h3{
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
}
.logo{
    font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}
h3,.salmon{
     color:#dfafa8;
}
a,a:visited{
    color:white;
    font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  display: block;
   
}
.wrapper {

  display: flex;
  flex-direction: column;

}
div{
     
}

.wrapper div {

  flex: 1;
  flex-direction: row;
  margin:1rem;

}

.test{
    display: flex;
   justify-content: space-around;
}
hr{
background-color: white;
margin:0;
align-self: stretch;
}
img{
  width: 60%;
  float: left;
}
input[type="radio"]{
    accent-color:#dfafa8;
}
input[type="number"]{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
    padding:1rem;
    border:none;
    border-radius: 5px;
    padding: 10px;
}
fieldset{
padding: 1rem;
width: 50%;
} 
label{
     font-family: "PT Serif", serif;
    font-weight: 400;
}
hr{
background-color: white;
margin:0;
align-self: stretch;
}
.box3,.box4{
    background-color: rgba(34, 33, 33, 0.3);
    padding: 2rem;
}
p{
    font-variant-caps: all-small-caps;
}
li{
    margin:5px 0;
}